<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('https://images.ctfassets.net/rxqefefl3t5b/6I2vL9f0IVsDQ8qFgdrxH7/7660c4bab3116a4a04025d5c4802efa5/Virgin-Red-online-shopping-offers.jpg'); 
background-size: cover; 
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    padding-left:100px;
    margin-top: 2px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff0033c7;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    padding-top: 20px;
}

.logo{
    color: #ff0033c7;
  
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}
.cart{
   padding-top:40px;
   padding-left:980px;
}

</style>
</head>
<body>
    <!-- <div class="icon">
        <h2 class="logo">MobileLand</h2>
    </div> -->
<div class="menu">

  <div class="menu">
    <ul>
        <li><a href="/signup">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">PRODUCTS</a></li>
        <li><a href="#">CATEGORY</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul>
</div>

<div class=cart>
    <img src="https://cdn-icons-png.flaticon.com/128/3081/3081559.png"  width="50" height="33">
    </div>
</body>
</html>